html
    head
    body
        div
            -var a=12;
            -if a%2==0
                div(style={background:'#f90'}) 偶数
            -else
                div(style={background:'#069'}) 偶数
        footer