<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div>
        <!--inlucde 不能写变量-->
        <% if( type == 'admin'){ %>
        <% include admin.css %>
        <% }else{ %>
        <% include user.css %>
        <% } %>
    </div>
</body>
</html>